html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    padding:3.75%;
}

/* HEADER */

header {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid seashell;
    height: 69px;
    display:flex;
    position: fixed;
    background-color: black;
    width: 100%;
    align-items: center;
}

/* NAV BAR */

nav li {
    list-style-type: none;
    display: inline-flex;
}

nav a {
    color: seashell;
    text-decoration: underline;
}

/* SECTION 1 */

.background {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding-top: 0;
}

section h2, h4 {
    align-items: center;
    text-align: center;
    padding: 0;
    background-color: black;
}

/* SECTION 2 */

.two {
    width: 1000px;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 80% 20%;
    text-align: center;
    gap: 10px;
    padding-bottom: 2em;
}