html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    padding: 0px;
    margin: 0px;
}

/* HEADER */

header {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid seashell;
    height: 69px;
    display:block;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0px;
}

/* NAV BAR */

.logo {
    height:50px;
    float: left;
    margin: 5px;
}

nav ul li {
    float: right;
    height: 100%;
    margin: 0 auto;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: seashell;
    margin-left: 15px;
    display: table;
    height: 100%;
    float: left;
    padding: 0px 20px;
}

/* MAIN */

.background_container {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}

.text-over {
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
    background-color: black;
    width: 100%;
  }

/* SECTION 2 */

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 80% 20%;
    text-align: center;
    gap: 10px;
    width: 1000px;
}

/* SECTION 3 */

.gridtwo {
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 80% 20%;
    text-align: center;
    gap: 10px;
    width: 1000px;
}

/* SECTION 4 */

.location {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

/* FOOTER */

footer section {
    text-align: center;
}